* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nuosu SIL", serif;
}
.first-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url(images/donation2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.first-desc {
  text-align: center;
  padding-top: 15%;
  color: white;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 15px;
}
.first-btn {
  background-image: linear-gradient(rgb(53, 231, 9), rgb(60, 5, 212));
  border-radius: 10px;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
p {
  padding-bottom: 40px;
}
.section-2 {
  margin-top: 12.7%;
}
.donate-container {
  display: flex;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 16px;
}
#bg-clr {
  background-color: rgb(255, 191, 187);
  border-radius: 5px;
  border: 2px solid red;
  height: 100px;
  width: 230px;
  margin-left: 20px;
}
.bg-gray {
  background-color: rgba(211, 209, 209, 0.61);
  margin-left: 20px;
  border-radius: 5px;
  height: 100px;
  width: 230px;
}
.title-size {
  font-size: 40px;
  text-align: center;
  padding-top: 19px;
  padding-left: 20px;
  padding-right: 20px;
}
#donate-title {
  text-align: center;
  margin-top: 40px;
}
#donate-par {
  text-align: center;
  padding-bottom: 40px;
}
.donate-container {
  margin-left: 20px;
}

#center {
  text-align: center;
  margin-left: 4px;
  margin-right: 26px;
  margin-top: 40px;
}
html {
  overflow-x: hidden;
}

.input {
  width: 50%;
  height: 50px;
  margin-left: 320px;
  margin-top: 40px;
}

.input input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  color: #595f6e;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}
.plan-items {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.plan-img {
  height: 60px;
  width: 60px;
}
.plan-1 {
  height: 300px;
  width: 40%;
  padding-right: 5%;
  text-align: justify;
  background-color: rgba(128, 128, 128, 0.151);
  border-radius: 8px;
  padding-top: 4%;
  padding-left: 3%;
}
.plan-2 {
  height: 300px;
  width: 40%;
  padding-right: 5%;
  text-align: justify;
  margin-left: 5%;
  background-color: rgba(255, 192, 203, 0.452);
  border-radius: 8px;
  padding-top: 4%;
  padding-left: 3%;
}
.plan-3 {
  height: 300px;
  width: 40%;
  padding-right: 5%;
  margin-left: 5%;
  text-align: justify;
  background-color: rgba(250, 235, 215, 0.658);
  border-radius: 8px;
  padding-top: 4%;
  padding-left: 3%;
}
.plan-tit {
  padding-top: 6%;
  padding-bottom: 6%;
}
.section-3 {
  margin-top: 10%;
  margin-bottom: 3%;
}
#sec-3-desc {
  text-align: center;
}
.section-4 {
  margin-top: 10%;
}
.sec-4-desc {
  text-align: center;
}
.envolve-items {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.env-img {
  height: 200px;
  width: 350px;
  border-radius: 5px;
}
.env-cards {
  margin-top: 2%;
  margin-right: 3%;
  padding-right: 3.5%;
}
.env-tit {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
}
.env-para {
  text-align: center;
  margin-bottom: 50px;
}
.section-5 {
  margin-top: 4.5%;
}
#sec-5-desc {
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 228, 196, 0.815);
  height: 150px;
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  padding-bottom: 2%;
}
.email-input {
  width: 40%;
  height: 35px;
  padding-top: 2%;
}
.email-input input {
  height: 100%;
  width: 100%;
  color: #595f6e;
  padding-left: 3%;
}
.subs-btn{
margin-top: 6.8%;
background-color: rgba(255, 0, 0, 0.671);
height: 39px;
width: 130px;
margin-left: 12px;
margin-bottom: 35.3px;
border-bottom-right-radius: 5px;
border-top-right-radius: 5px;
}
#subs{
  color:white;
  text-align: center;
  padding-top: 5%;
  font-weight: bolder;
}
footer{
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  text-align: center;
  margin-top: 14%;
  height: 140px;
  padding-top: 5%;
}
#ftr-title{
  color: red;
  margin-bottom: 2%;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
}